<div infinite-scroll='loadMore()' infinite-scroll-distance='1' class="grid-container">
    <div class="room-type">

        <div class="title_text"><b>{{$root.LANG[roomName][$root.curLang]}}</b></div>
        <p class="room_text">{{headerText}}</p>

        <div class="row">
            <div class="photo-catalog col-md-12">
                <div class="col-md-6 no-padding-right" ng-repeat="item in displayList track by $index">
                    <div class="item" ng-click="makeOrder(item)">
                        <div class="photo">
                            <img ng-src="http://print-oboi.com.ua/uploads/images/interior/poua/{{item.id}}.jpg">
                        </div>
                        <div class="order">
                            <a href="">{{$root.LANG.order[$root.curLang]}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>