<div class="services">

    <div class="row">
        <p class="title_text"><b>{{$root.LANG.designServices[$root.curLang]}}</b></p>
        <p class="inner_text">{{$root.LANG.servicesText[$root.curLang]}}</p>
    </div>

    <div class="row">
        <div class="col-md-12 photo-block">

            <div class="col-md-6 left">
                <p class="title_text">{{$root.LANG.colorCorrection[$root.curLang]}}</p>
                <img src="http://print-oboi.com.ua/public/img/content/design_services-1.jpg" alt="">
            </div>
            <div class="col-md-6 right">
                <p class="title_text">{{$root.LANG.applyFilter[$root.curLang]}}</p>
                <img src="http://print-oboi.com.ua/public/img/content/design_services-2.jpg" alt="">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 photo-block">
            <div class="content">

                <div class="col-md-6 left">
                    <p class="title_text">{{$root.LANG.colorCorrection[$root.curLang]}}</p>
                    <img src="http://print-oboi.com.ua/public/img/content/design_services-3.jpg" alt="">
                </div>
                <div class="col-md-6 right">
                    <p class="title_text">{{$root.LANG.applyFilter[$root.curLang]}}</p>
                    <img src="http://print-oboi.com.ua/public/img/content/design_services-4.jpg" alt="">
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-block">
            <div class="content">

                <div class="col-md-9">
                    <p class="title_text">{{$root.LANG.applyFilter[$root.curLang]}}</p>
                    <p> - Aasda asd ad adaf wuif iaf asdgfas fasdfif</p>
                    <p>- B safn fidfherv v g jfgioguigsd;khdfgsudyg</p>
                </div>

                <div class="col-md-3 pull-right">
                    <img src="http://print-oboi.com.ua/public/img/content/exclusive.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <p class="inner_text" ng-bind-html="exclusive1"></p>
        <p class="inner_text" ng-bind-html="exclusive2"></p>
        <p class="inner_text" ng-bind-html="exclusive3"></p>
    </div>

</div>