<div class="interior">


    <p class="title_text red-line"><b>{{"Просмотр «" + item['name_' + $root.curLang] + "» в интерьере"}}</b></p>
    <a ng-click="goBack()" class="back">Вернуться назад</a>

    <div class="room-perspective">
        <div class="actions pull-right">
            <div class="ico-bw" ng-click="setFilter('g')"
                 ng-class="{'active': filters.g}" id="f_grayscale"><span class="plink">черно-белое</span></div>
            <div class="ico-mirror" ng-click="setFilter('f')"
                 ng-class="{'active': filters.f}" id="f_flip"><span class="plink">отзеркалить</span></div>
            <div class="ico-sepia" ng-click="setFilter('s')"
                 ng-class="{'active': filters.s}" id="f_sepia"><span class="plink">сепия</span></div>
        </div>

        <div class="clear-room pull-left">
            <a ng-click="clearRoom()">× Очистить комнату</a>
        </div>

        <div class="col-md-12 block">
            <div class="content">


                <div class="visualization">

                    <div id="room">&nbsp;</div>

                    <div id="wall-top">&nbsp;</div>
                    <div id="wall-left"  ng-style="{'background': color}">&nbsp;</div>
                    <div id="wall-right" ng-style="{'background': color}">&nbsp;</div>
                    <div id="wall-left-gr" style="opacity: 0.5;">&nbsp;</div>
                    <div id="wall-right-gr" style="opacity: 0.5;">&nbsp;</div>
                    <div id="wall-left-top" ng-style="{'border-bottom-color': color}">&nbsp;</div>
                    <div id="wall-left-bot" ng-style="{'border-top-color': color}">&nbsp;</div>
                    <div id="wall-right-top" ng-style="{'border-bottom-color': color}">&nbsp;</div>
                    <div id="wall-right-bot" ng-style="{'border-top-color': color}">&nbsp;</div>

                    <div id="wall" ng-style="{'background': color}">
                        <img drag-me left="60" ng-src="{{img}}" alt="" id="wallpaper">
                        <img drag-me
                             ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{displayModel.doors.selection +'.png'}}"
                             alt="" height="121"
                             width="120"
                             ng-if="displayModel.doors.selection === 48"
                             id="window">
                        <img drag-me top="132" left="490"
                             ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{displayModel.doors.selection +'.jpg'}}" alt="" height="250"
                             width="122"
                             id="door"
                             ng-if="displayModel.doors.selection !== 48"
                             style="top: 132px; opacity: 1; left: 542px;">
                    </div>

                    <div class="furniture">
                        <img drag-me left="12" top="0"
                             ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{ displayModel.beds.selection + '.png'}}" alt="" height="192"
                             width="440" id="sofa"
                             style="opacity: 1;">
                        <img drag-me left="0" top="0"
                             ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{ displayModel.chairs.selection + '.png'}}" alt="" height="auto"
                             width="249" id="chair" class="ui-draggable" style="left: 468px; opacity: 1; top: 28px;">
                    </div>

                    <div id="floor"
                         ng-style="{'background': 'url(http://print-oboi.com.ua/public/img/interior/floor/big/' + displayModel.floor.selection +'.jpg)'}">
                        <div class="gr">&nbsp;</div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div>

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Стены, пол">
                <div class="tabs-header">
                    <div class="col-md-3">Цвет стен</div>
                    <div class="col-md-9">Цвет пола</div>
                </div>
                <div class="col-md-3">
                    <ng-farbtastic width="170" ng-model="$parent.$parent.color">
                    </ng-farbtastic>

                </div>
                <div class="col-md-9">
                    <div>
                        <img ng-repeat="n in displayModel.floor.collection"
                             class="floor-item"
                             ng-class="{'active': displayModel.floor.selection === n }"
                             ng-src="http://print-oboi.com.ua/public/img/interior/floor/small/{{n + '.jpg'}}"
                             ng-click="displayModel.floor.selection = n">
                    </div>
                </div>

            </uib-tab>
            <uib-tab index="1" heading="Диваны, уголки">
                <img ng-repeat="n in displayModel.beds.collection"
                     class="sofa-item"
                     ng-class="{'active': displayModel.beds.selection === n }"
                     ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{n + '.png'}}"
                     ng-click="displayModel.beds.selection = n">
            </uib-tab>
            <uib-tab index="2" heading="Кровати">
                <img ng-repeat="n in displayModel.beds.collection2"
                     class="bed-item"
                     ng-class="{'active': displayModel.beds.selection === n }"
                     ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{n + '.png'}}"
                     ng-click="displayModel.beds.selection = n">
            </uib-tab>
            <uib-tab index="3" heading="Двери, окна">
                <img ng-repeat="n in displayModel.doors.collection"
                     class="doors-item"
                     ng-class="{'active': displayModel.doors.selection === n }"
                     ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{n + '.jpg'}}"
                     ng-click="displayModel.doors.selection = n">
                <img class="window-item" ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s48.png">
            </uib-tab>
            <uib-tab index="4" heading="Кресла, столы">
                <img ng-repeat="n in displayModel.chairs.collection"
                     class="chairs-item"
                     ng-class="{'active': displayModel.chairs.selection === n }"
                     ng-src="http://print-oboi.com.ua/public/img/interior/furniture/s{{n + '.png'}}"
                     ng-click="displayModel.chairs.selection = n">
            </uib-tab>
        </uib-tabset>

    </div>


</div>