@import "../app/components/home/home.less";

.title_text {
  .title-text
}

.payment {

  .title_text {
    margin-top: 10px;
  }

  .content {

    .order_id_form {
      padding: 15px 20px;
      background: #e9f7fb;
      border-radius: 5px;

      label {
        font-weight: normal;
      }
    }
  }

  .search-results {
    padding: 10px 30px;
    width: 80%;
    margin: auto;

    .order-preview {
      margin-bottom: 15px;
    }

    .paid-message {
      color: #0c0;
      margin: 0px 5px 20px;
      text-align: center;
      border: 1px solid #0c0;
      border-radius: 3px;
      padding: 5px 0;
      font-size: 14px;
    }
    .unpaid-message{
      color: red;
      font-weight: bold;
      margin: 0px 5px 20px;
      text-align: center;
      border: 1px solid red;
      border-radius: 3px;
      padding: 5px 0;
      font-size: 14px;
    }

    .contacts-list {
      .name {
        &:before {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          background: url(http://print-oboi.com.ua/public/img/sprite-contacts.png) no-repeat 0 2px;
          background-position: 0 -86px;
          top: 7px;
          right: 0px;
          position: relative;
        }
      }

      .phone {
        &:before {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          background: url(http://print-oboi.com.ua/public/img/sprite-contacts.png) no-repeat 0 2px;
          top: 7px;
          right: 0px;
          position: relative;
        }
      }

      .email {
        &:before {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          background: url(http://print-oboi.com.ua/public/img/sprite-contacts.png) no-repeat 0 2px;
          background-position: 0 -20px;
          top: 7px;
          right: 0px;
          position: relative;
        }
      }

      .address {
        &:before {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          background: url(http://print-oboi.com.ua/public/img/sprite-contacts.png) no-repeat 0 2px;
          background-position: 0px -62px;
          top: 7px;
          right: 0px;
          position: relative;
        }
      }
    }

    .price {
      margin: 25px 0;
      font-size: 21px;
      color: #777;

      .left-block {

        .amount {
          position: absolute;
          transform: translate(50%, 40%);
        }
      }
      .makePayment {
        padding: 7px 10px 7px 120px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        /* border: 1px solid #000; */
        font-size: 12px;
        text-align: left;
        background: #fff url(http://print-oboi.com.ua/public/img/ico-pay-bank.png) 0px 4px no-repeat;
        width: 260px;

        &.card {
          background: #fff url(http://print-oboi.com.ua/public/img/ico-pay-card.png) 0px 4px no-repeat;
        }
      }
    }
  }
}