.crop {

  .cut-paper2 {
    margin: 20px 0 20px;
    border-radius: 10px;
    background: #eef3e4;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.11);
    .cut-title {
      padding: 7px 0 7px 10px;
      font-size: 18px;
    }
    .paper-crop {
      width: 580px;
      height: 390px;
      background: #cfd3c2;
      float: left;
      line-height: 390px;
      text-align: center;

      .ng-jcrop {

        .ng-jcrop-image-wrapper {
          .ng-jcrop-image {

          }
          .jcrop-holder {
            direction: ltr;
            display: inline-block !important;
            vertical-align: middle !important;

            .jcrop-vline, .jcrop-hline {
              background: #fff url(http://print-oboi.com.ua/public/img/Jcrop.gif);
              height: 1px!important;
              width: 100%;
            }
          }
        }
      }
    }

    .details {
      width: 135px;
      float: right;
      margin: 0px 10px 0 0;
    }
  }
}