<div class="crop">

    <div class="category-name">{{ $root.LANG.cropping[$root.curLang] + " «" + item['name_' + $root.curLang] + ' (#' +
        item.id + ')» ' + $root.LANG.forYourSize[$root.curLang]}}
    </div>
    <div class="">
        <div class="cut-paper2">
            <div class="cut-title">Укажите необходимые Вам размеры или передвиньте рамку</div>


            <div class="col-md-12 pic">
                <div class="col-md-9">
                    <div class="paper-crop" ng-class="{'no-v-line': noVLine, 'no-h-line': noHLine}">
                        <div ng-jcrop="obj.src" ng-jcrop-config-name="poConfig" selection="obj.selection"
                             thumbnail="obj.thumbnail"></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="details">
                        <div class="parametres">

                            <div class="width">
                                <h4>Ширина, см.</h4>
                                <span class="">
                                    <input type="text" class="size width form-control"
                                       id="width"
                                       ng-model-options="{debounce: 500}"
                                       ng-change="updateSize('w')"
                                       ng-model="photoWidth">
					            </span>
                            </div>

                            <div class="height">
                                <h4>Высота, см.</h4>
                                <span class="">
						            <input type="text" class="size height form-control"
                                           id="height"
                                           ng-change="updateSize('h')"
                                           ng-model="photoHeight">
                                </span>
                            </div>

                            <div class="square">
                                Площадь:
                                <span id="square">{{square}}</span> кв.м.
                            </div>

                            <div class="divider"></div>

                            <div class="ico-bw"
                                 ng-click="setFilter('g')"
                                 ng-class="{'active': filters.g}"
                                 id="f_grayscale"><span class="plink">черно-белое</span></div>
                            <div class="ico-mirror"
                                 ng-click="setFilter('f')"
                                 ng-class="{'active': filters.f}"
                                 id="f_flip"><span class="plink">отзеркалить</span></div>
                            <div class="ico-sepia"
                                 ng-click="setFilter('s')"
                                 ng-class="{'active': filters.s}"
                                 id="f_sepia"><span class="plink">сепия</span></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="clear">&nbsp;</div>

            <div class="tags">
                <div class="col-md-12">
                    <i class="fa fa-tags fa-flip-horizontal"></i>&nbsp;
                    <a ng-repeat="tag in item.tags track by $index"
                       ng-click="goToCateg(tag.cat_id, tag['name_' + $root.curLang], 'categories')">
                        {{tag['name_' + $root.curLang]}},&nbsp;
                    </a>
                </div>
            </div>

            <div class="clear">&nbsp;</div>
        </div>
    </div>

    <div>
        <p class="title_text">--- Виниловые на бумажной основе (Германия) ---</p>
        <div class="textures-container">
            <div class="col-md-12 textures-block">
                <div class="col-sm-3 text-center image" ng-repeat="texture in vinilTextures track by $index">
                    <img ng-src="https://foto-oboi.com.ua/public/textures/small/{{texture}}.jpg" alt="">
                    <div ng-class="{'selected': selectedTexture == texture}"
                         class="overlay"
                         ng-click="selectTexture(texture)">
                        <p class="texture-name">{{texturesCollection[texture]['name_' + $root.curLang]}}</p>
                        <i class="icon fa fa-search-plus">Enlarge</i>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div>
        <p class="title_text">--- Виниловые на fliz основе (Германия) ---</p>
        <div class="textures-container">
            <div class="col-md-12 textures-block">
                <div class="col-sm-3 text-center image" ng-repeat="texture in flizTextures track by $index">
                    <img ng-src="https://foto-oboi.com.ua/public/textures/small/{{texture}}.jpg" alt="">
                    <div ng-class="{'selected': selectedTexture == texture}"
                         class="overlay"
                         ng-click="selectTexture(texture)">
                        <p class="texture-name">{{texturesCollection[texture]['name_' + $root.curLang]}}</p>
                        <i class="icon fa fa-search-plus">Enlarge</i>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12 calc-price">
        <div class="col-md-8 left-block">

            <h3>Рассчитать стоимость фотообоев</h3>
            <div class="text size">Размер: {{photoWidth +'x' + photoHeight}} см.</div>
            <div class="text surface ">Выберите фактуру: {{texturesCollection[selectedTexture]['name_' +
                $root.curLang]}}
            </div>

            <div class="col-sm-12 text-forms">
                <div class="col-sm-6 left">
                    <form>
                        <div class="form-group">
                            <label for="name">Name*:</label>
                            <input type="text" ng-model="clientName" class="form-control" id="name">
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone*:</label>
                            <input type="text" ng-model="clientPhone" class="form-control" id="phone">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail">Email address:</label>
                            <input type="email" ng-model="clientEmail" class="form-control" id="inputEmail" placeholder="Email">
                        </div>

                        <button class="btn btn-success" ng-click="sendOrder()">Send</button>
                    </form>
                </div>
                <div class="col-sm-6 right">
                    <label for="comment">Комментарий:</label>
                    <textarea id="comment" ng-model='clientComment' class="form-control" rows="8" cols="10"></textarea>
                </div>
            </div>

        </div>

        <div class="col-md-4 right-block">
            <div class="green_latex">
                <h3 class="title">---- Зеленые технологии HP Latex---</h3>
                <p class="gl-description">Для изготовления фотообоев наша компания использует только экологичные зеленые
                    технологии HP Latex</p>
                <img class="gl-image" src="http://print-oboi.com.ua/public/img/content/green.png" alt="">
            </div>
        </div>
    </div>

</div>