<div class="crop">

    <div class="category-name">{{ $root.LANG.cropping[$root.curLang] + " «" + item['name_' + $root.curLang] + ' (#' + item.id + ')» ' + $root.LANG.forYourSize[$root.curLang]}}</div>
    <div class="">
        <div class="cut-paper2">
            <div class="cut-title">Укажите необходимые Вам размеры или передвиньте рамку</div>


            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="paper-crop" ng-class="{'no-v-line': noVLine, 'no-h-line': noHLine}">
                        <div ng-jcrop="obj.src" ng-jcrop-config-name="poConfig" selection="obj.selection"
                             thumbnail="obj.thumbnail"></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="details">
                        <div class="parametres">

                            <div class="width">
                                <h4>Ширина, см.</h4>
                                <span class="">
						<input type="text" class="size width form-control"
                               id="width"
                               ng-model-options="{debounce: 500}"
                               ng-change="updateSize('w')"
                               ng-model="photoWidth">
					</span>
                            </div>

                            <div class="height">
                                <h4>Высота, см.</h4>
                                <span class="">
						<input type="text" class="size height form-control"
                               id="height"
                               ng-change="updateSize('h')"
                               ng-model="photoHeight">
					</span>
                            </div>

                            <div class="square">
                                Площадь:
                                <span id="square">{{square}}</span> кв.м.
                            </div>

                            <div class="divider"></div>
                            <div class="ico-bw" id="f_grayscale"><span class="plink">черно-белое</span></div>
                            <div class="ico-mirror" id="f_flip"><span class="plink">отзеркалить</span></div>
                            <div class="ico-sepia" id="f_sepia"><span class="plink">сепия</span></div>

                            <div class="area">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear">&nbsp;</div>

            <div class="tags">
                <div class="col-md-12">
                    <i class="fa fa-tags fa-flip-horizontal"></i>&nbsp;
                    <a ng-repeat="tag in item.tags track by $index"
                       ng-href="http://print-oboi.com.ua/wallpapers/category/{{tag.cat_id}}">{{tag['name_' +
                        $root.curLang]}},&nbsp;</a>
                </div>
            </div>

            <div class="clear">&nbsp;</div>
            <button ng-click="sendOrder()">Send</button>
        </div>
    </div>

    <div>
        <p class="title_text">--- Виниловые на бумажной основе (Германия) ---</p>

        <div class="col-md-12 textures-block">
            <div class="col-md-3 text-center image" ng-repeat="texture in textures track by $index">
                <img ng-src="https://foto-oboi.com.ua/public/textures/small/{{texture}}.jpg" alt="">
            </div>

        </div>
    </div>

</div>