<div class="rooms">

    <p class="title_text"><b>{{$root.LANG.applyingForRooms[$root.curLang]}}</b></p>

    <div class="row">
        <div class="catalog grid col-md-12">
            <div class="col-md-4 no-padding-right" ng-repeat="item in roomsList track by $index">
                <div class="catalog-item item">
                    <div class="photo" ui-sref="app.roomstype({roomType: item.room})">
                        <img ng-src="{{item.pic}}">
                    </div>
                    <div class="name">
                        {{$root.LANG[item.room][$root.curLang]}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>