<div id="container">

    <div class="header">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 left_ord">
                <a href=""><img ng-src="./app//components/pics/logo.png" ng-click="goToMenu('home')"/></a>
            </div>
            <div class="col-md-1">
                <ul class="menu_lang">
                    <li>
                        <!--<img ng-src="./app/components/pics/ua.png"/>-->
                        <a href="#" ng-click="setLanguage('ua')" ng-class="{active : $root.curLang == 'ua'}">UA</a>
                    </li>
                    <li>
                        <!--<img ng-src="./app/components/pics/rus.png"/>-->
                        <a href="#" ng-click="setLanguage('ru')" ng-class="{active : $root.curLang == 'ru'}">RU</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-1">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{$root.LANG.searchBox[$root.curLang]}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 right_ord">
                <ul id="we_work">
                    <span class="phone_num">(044)221-33-03</span>
                    <!--<li><img ng-src="./app/components/pics/icon-clock.png"/>&nbsp;{{$root.LANG.weWork[$root.curLang]}}</li>-->
                    <li>ПН - ПТ | 9:00-18:00</li>
                    <!--<li>{{$root.LANG.weWorkDays[$root.curLang]}}</li>-->
                </ul>
            </div>
            <div class="col-md-2 right_ord_2">
                <!--<button class="btn btn-success" type="submit">Button</button>-->
                <img ng-src="./app/components/pics/btn-recall_{{$root.curLang}}.png"/>
            </div>

            <div class="col-md-2"></div>

        </div>
    </div>

    <div class="body">

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="row">
                    <div class="btn-group">
                        <label class="btn btn-menu" ng-click="goToMenu()" ng-model="radioModel"
                               uib-btn-radio="'gluing'">{{$root.LANG.adhence[$root.curLang] | uppercase}}</label>
                        <label class="btn btn-menu" ng-click="goToMenu()" ng-model="radioModel"
                               uib-btn-radio="'textures'">{{$root.LANG.textures[$root.curLang] | uppercase}}</label>
                        <label class="btn btn-menu" ng-click="goToMenu()" ng-model="radioModel"
                               uib-btn-radio="'service'">{{$root.LANG.services[$root.curLang] | uppercase}}</label>
                        <label class="btn btn-menu" ng-click="goToMenu()" ng-model="radioModel"
                               uib-btn-radio="'delivery'">{{$root.LANG.delivery[$root.curLang] | uppercase}}</label>
                        <label class="btn btn-menu" ng-click="goToMenu()" ng-model="radioModel"
                               uib-btn-radio="'contacts'">{{$root.LANG.contacts[$root.curLang] | uppercase}}</label>
                        <label class="btn btn-menu" ng-click="goToMenu()" ng-model="radioModel"
                               uib-btn-radio="'payment'">{{$root.LANG.pay[$root.curLang] | uppercase}}</label>
                    </div>
                </div>

                <!--left side menu-->

                <div class="row">
                    <div class="col-md-3 left-side-block">
                        <div class="favorites" ng-if="$root.favorites.length">

                            <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
                                <span class="text">
                                    {{$root.LANG.favorites[$root.curLang] | uppercase}}
                                </span>
                                    <i class="fa " ng-class="{'fa-long-arrow-down': !isCollapsed, 'fa-long-arrow-up': isCollapsed}" aria-hidden="true"></i>
                            </button>

                            <div uib-collapse="isCollapsed">

                                <div class="fav-photo-plates">
                                        <div class="fav-item" ng-repeat="favItem in $root.favorites track by $index">
                                            <img ng-src="http://foto-oboi.com.ua/images/wp/{{favItem.id+'/63x63.jpg'}}" alt="">
                                            <i class="fa fa-times" aria-hidden="true" ng-click="removeFav(favItem)"></i>
                                        </div>
                                </div>

                                <div class="fav-photo-menu">
                                    <div>
                                        <i class="fa fa-trash" aria-hidden="true" ng-click="removeFav('all')">
                                            <a href="">Delete all</a>
                                        </i>
                                    </div>
                                    <div>
                                        <i class="fa fa-envelope" aria-hidden="true" ng-click="sendToFriend()">
                                            <a href="">Send to friend</a>
                                        </i>
                                    </div>
                                    <div>
                                        <i class="fa fa-save" aria-hidden="true" ng-click="saveArc()">
                                            <a href="">Save archive</a>
                                        </i>
                                    </div>
                                </div>
                            </div>

                            <ul>
                                <!--<li ng-repeat="item in interiors track by $index">-->
                                    <!--<a href="#" ng-click="goToCateg(item.id, item.name)"> {{item.name }}</a>-->
                                <!--</li>-->

                            </ul>
                        </div>

                        <div class="block-item">
                            <div class="name text-center">{{$root.LANG.popularCat[$root.curLang] | uppercase }}</div>

                            <ul>
                                <li ng-repeat="item in popular track by $index">
                                    <a href="#" ng-click="goToCateg(item.id, item.name)"> {{item.name }}</a>
                                </li>
                            </ul>

                        </div>

                        <div class="block-item">
                            <div class="name text-center">{{$root.LANG.categoriesCat[$root.curLang] | uppercase }}</div>

                            <ul>
                                <li ng-repeat="item in categories track by $index">
                                    <a href="#" ng-click="goToCateg(item.id, item.name)"> {{item.name }}</a>
                                </li>

                            </ul>
                        </div>

                        <div class="block-item">
                            <div class="name text-center">{{$root.LANG.interiorsCat[$root.curLang] | uppercase}}</div>

                            <ul>
                                <li ng-repeat="item in interiors track by $index">
                                    <a href="#" ng-click="goToCateg(item.id, item.name)"> {{item.name }}</a>
                                </li>

                            </ul>
                        </div>

                        <div class="block-item">
                            <div class="name text-center">{{$root.LANG.selectColorsCat[$root.curLang] | uppercase}}</div>

                            <ul class="color-box">
                                <li class="item"><a href="#" class="color-item" style="background: #cc0000"
                                                    title={{$root.LANG.selectColorsRed[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #006600"
                                                    title={{$root.LANG.selectColorsGreen[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #000099"
                                                    title={{$root.LANG.selectColorsBlue[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #ff9900"
                                                    title={{$root.LANG.selectColorsOrange[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #663300"
                                                    title={{$root.LANG.selectColorsBrown[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #000000"
                                                    title={{$root.LANG.selectColorsBlack[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #ff99cc"
                                                    title={{$root.LANG.selectColorsPink[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #00ff33"
                                                    title={{$root.LANG.selectColorsCyan[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #00ffff"
                                                    title={{$root.LANG.selectColorsPearl[$root.curLang]}}></a></li>
                                <li class="item"><a href="#" class="color-item" style="background: #ffff00"
                                                    title={{$root.LANG.selectColorsYellow[$root.curLang]}}></a></li>
                            </ul>
                        </div>

                        <div class="block-item">
                            <div class="name text-center">
                                <img id="ownPhoto" ng-src="./app/components/pics/box-upload-title.png">{{$root.LANG.ownPhoto[$root.curLang] | uppercase}}
                            </div>
                            <p style="padding: 0 20px; font-size: 12px; font-weight: normal;">
                                {{$root.LANG.ownPhoto1[$root.curLang]}}</p>
                            <a href="#" class="btn btn_photo">{{$root.LANG.ownPhoto2[$root.curLang]}}</a>
                        </div>

                        <div class="block-item">
                            <div class="name text-center">{{$root.LANG.picturesBox[$root.curLang] | uppercase}}</div>

                            <ul>
                                <li style="list-style-type: none !important;"><a href="#"
                                                                                 ng-click="goToCateg(item.id, item.name)"><strong
                                        style="margin-left: -15px">>&nbsp;</strong>
                                    {{$root.LANG.picturesBox1[$root.curLang]}}</a></li>
                                <li style="list-style-type: none !important;"><a href="#"
                                                                                 ng-click="goToCateg(item.id, item.name)"><strong
                                        style="margin-left: -15px">>&nbsp;</strong>
                                    {{$root.LANG.picturesBox2[$root.curLang]}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-9 right_side_block">
                        <div class="plates">
                            <ui-view></ui-view>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <div class="footer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <ul style="list-style-type: inherit; color: inherit; font-size: 12px; margin-bottom: 0">
                            <li><b>(044)&nbsp;221-33-03</b></li>
                            <li>09:00-18:00 пн-пт</li>
                            <li>© 2012–2017 <a href="#">{{$root.LANG.photoOboi[$root.curLang]}}</a> —
                                «{{$root.LANG.printOboi[$root.curLang]}}».
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-5"></div>
                    <div class="col-md-3">Rambler</div>

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row footer_last">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="footer_link"><a href="#">{{$root.LANG.pTypes[$root.curLang]}}</a></p>
                <p class="footer_link"><a href="#">{{$root.LANG.textures[$root.curLang]}}</a></p>
                <p class="footer_link"><a href="#">{{$root.LANG.services[$root.curLang]}}</a></p>
                <p class="footer_link"><a href="#">{{$root.LANG.delivery[$root.curLang]}}</a></p>
                <p class="footer_link"><a href="#">{{$root.LANG.contacts[$root.curLang]}}</a></p>

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>
</div>