html, body {
  margin: 0;
  padding: 0;
  min-height: 100% !important;
}

#container {
  min-height: 100%;
  position: relative;
}

ul, li {list-style-type: none !important}

.row {
  //margin-right: 0px !important;
  //margin-left: 0px !important;

  }

.header {

  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  color: #49515e;
  padding-bottom: 10px;

      .left_ord {
        //align: left;
        padding-left: 0px;
        //vertical-align: middle;
        }

      .right_ord {
        padding-right: 0px !important;
        text-align: end;
        color: inherit;
      }

      #we_work  {
        //border-right: 2px dotted #ced3da;
        //padding-right: 10px;
      }
      .menu_lang {
        //margin-left: -20px;
        position: relative;
        right: 35px;
        top: 5px;
        a {
          font-family: sans-serif;
          color: #49515e;
          &:hover {
            color: limegreen;
            text-decoration: none;
          }
        }
      }

      .right_ord_2 {
        //padding-right: 8px;
        text-align: end;
      }

      .phone_num {
        color: inherit;
        font-weight: 700;
        font-size: 20px;
        //padding-right: 8px;
      }
}


.btn-group {

      //position: relative;
      width: 100%;
      top: -16px;
      z-index: 1;
      height: 65px;

      .btn-menu {


        //height: 43px;
        background: linear-gradient(#bbbbbb, #8f8f8f);
        width: 16.75%;
        height: 45px;
        color: white;
        font-size: 13px;
        font-family: Ubuntu, 'Open Sans', Arial, sans-serif;
        border-right: 2px solid gray;
        padding-top: 10px;

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          border-right: none;
          padding-right: 0px;
        }

        &:hover, &.active {
          background: linear-gradient(#8f8f8f, #bbbbbb);
          text-decoration-line: underline;
          color: white;

        }

        .button-plus {
          color: white;
          width: 20px;;
        }



      }
    }


.body {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  .plates{
    margin-top: -20px !important;
  }

  margin-top: 20px;
  background: url(http://print-oboi.com.ua/public/img/redesign/body_bg.jpg) repeat !important;

}

.left-side-block {

  margin-top: -20px;
  margin-left: 0px;
  width: 230px;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .block-item {
    width: 95% !important;
    position: relative;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg, rgb(238, 243, 249) 0%, rgb(255, 255, 255) 32%, rgb(255, 255, 255) 75%, rgb(239, 244, 250) 100%);
    box-shadow: 2px 3px 10px 0px rgba(110, 114, 124, .5);
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;

    .name {
      padding: 10px 0;
      color: #f59912;
      margin-bottom: -5px;

      #ownPhoto {
        position: absolute;
        top: -12px;
        left: -26px;
      }

      &:after {
        display: block;
        content: '';
        background: url(http://print-oboi.com.ua/public/img/redesign/sidebar_divider.png) no-repeat;
        width: 200px;
        height: 19px;
        margin-bottom: 15px;
      }
    }
    li {list-style-type: disc !important}
  }
}

.right_side_block {
  //margin-left: -20px;
  //width: 750px !important;

}


.input-group {
  //position: absolute;
  //display: table;
  //border-collapse: separate;
  right: 75px;
  width: 240px;
  //padding-top: 8px;

  .form-control {
    height: 45px;
  }
  .btn-default {
    height: 45px;
    width: 40px;
    padding: 0px;

  }

}

.footer {
 margin-bottom: 14px;
  height: 40px;
  position: absolute !important;
  width: 100%;

}


.btn.btn_photo {
  border-radius: 10px;
  background-image: -webkit-linear-gradient( 90deg, rgb(160,186,67) 0%, rgb(201,233,87) 100%);
  box-shadow: 0px 2px 2px 0px rgb( 81, 101, 8 );
  border: none;
  font-size: 12px;
  font-weight: 100;
  text-shadow: 0.5px 0.866px 2px rgb( 118, 134, 60 );
  margin: 0px 20px;
  display: inline-block;
  padding: 8px 22px;
  color: white !important;
  margin: 0 20px 0 20px;
}


.color-box {
  list-style-type: none;
  padding-left: 17px;

  .item {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    padding: 1px;
    margin-left: 3px;
    margin-bottom: 3px;
  }

  a.color-item {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: pointer;
  }

}

.footer_last {
  background: url(http://print-oboi.com.ua/public/img/redesign/footer_bg.png) repeat !important;

}

  .footer_link {
    width: 19%;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0;

      a {
        color: white;
      }
  }

