.header {
  height: 100px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;

  .menu {
    position: relative;
    top: 5px;
    z-index: 1;
    height: 80px;

    .btn-group {

      .btn-menu {

        padding-top: 15px;
        height: 50px;
        background: linear-gradient(#bbbbbb, #8f8f8f);

        width: 172px;
        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          width: 172px;

        }
        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 172px;
        }

        &:hover, &.active {
          background: linear-gradient(#8f8f8f, #bbbbbb);
        }
      }
    }
  }
}