<div class="gluing">

    <div class="row">
        <p class="title_text"><b>{{$root.LANG.gluingWallpapers[$root.curLang]}}</b></p>
        <p class="inner_text" ng-bind-html="gluingWallpapersText"></p>
        <p class="inner_text">{{$root.LANG.gluingWallpapersText2[$root.curLang]}}</p>

        <p class="title_text">{{$root.LANG.prepareSurface[$root.curLang]}}</p>
        <div class="col-md-12 block">
            <div class="content prepare-surface">
                <p>{{$root.LANG.prepareSurfaceText[$root.curLang]}}</p>
                <p>{{$root.LANG.prepareSurfaceText2[$root.curLang]}}</p>
                <p>{{$root.LANG.prepareSurfaceText3[$root.curLang]}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.glueSelection[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p class="inner_text">{{$root.LANG.glueSelectionText1[$root.curLang]}}</p>
                <ul>
                    <li>{{$root.LANG.glueSelectionText2[$root.curLang]}}</li>
                    <li>{{$root.LANG.glueSelectionText3[$root.curLang]}}</li>
                </ul>
                <p class="inner_text">{{$root.LANG.glueSelectionText4[$root.curLang]}}</p>
                <img class="glueSelectionImage" src="http://print-oboi.com.ua/public/img/redesign/gluing_glu.png" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.gluingItself[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p>{{$root.LANG.gluingItselfText[$root.curLang]}}</p>
                <p>{{$root.LANG.gluingItselfText2[$root.curLang]}}</p>
                <p>{{$root.LANG.gluingItselfText3[$root.curLang]}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.tools[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p class="inner_text">{{$root.LANG.toolsText[$root.curLang]}}</p>
                <ul class="gluing__instruments">
                    <li><b>•</b> {{$root.LANG.toolsText1[$root.curLang]}}
                        <span class="gluing__instruments-img"><img src="http://print-oboi.com.ua/public/img/redesign/gluing/1.png"></span>
                    </li>
                    <li><b>•</b> {{$root.LANG.toolsText2[$root.curLang]}}
                        <span class="gluing__instruments-img"><img src="http://print-oboi.com.ua/public/img/redesign/gluing/2.png" width="130"></span>
                    </li>
                    <li><b>•</b> {{$root.LANG.toolsText3[$root.curLang]}}
                        <span class="gluing__instruments-img"><img src="http://print-oboi.com.ua/public/img/redesign/gluing/3.png" style="margin-top:20px;"></span>
                    </li>
                    <li><b>•</b> {{$root.LANG.toolsText4[$root.curLang]}}
                        <span class="gluing__instruments-img"><img src="http://print-oboi.com.ua/public/img/redesign/gluing/4.png" width="120"></span>
                    </li>
                    <li><b>•</b> {{$root.LANG.toolsText5[$root.curLang]}}
                        <span class="gluing__instruments-img"><img src="http://print-oboi.com.ua/public/img/redesign/gluing/5.png" width="130"></span>
                    </li>
                </ul>

                <!--<div class="col-md-6">-->
                    <!---->
                <!--</div>-->
                <!--<div class="col-md-6"></div>-->
            </div>
        </div>
    </div>



</div>