<div class="gluing">

    <div class="row">
        <p class="title_text"><b>{{$root.LANG.gluingWallpapers[$root.curLang]}}</b></p>
        <p class="inner_text" ng-bind-html="gluingWallpapersText"></p>
        <p class="inner_text">{{$root.LANG.gluingWallpapersText2[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast1[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast2[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast3[$root.curLang]}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.pHomHowToOrder[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast1[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast2[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast3[$root.curLang]}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.pHomHowToOrder[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast1[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast2[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast3[$root.curLang]}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.pHomHowToOrder[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast1[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast2[$root.curLang]}}</p>
                <p class="inner_text">{{$root.LANG.pHomWantOrdFast3[$root.curLang]}}</p>

                <img src="http://print-oboi.com.ua/public/img/redesign/gluing_glu.png" alt="">
            </div>
        </div>
    </div>

    <div class="row">
        <p class="title_text">{{$root.LANG.pHomHowToOrder[$root.curLang]}}</p>

        <div class="col-md-12 block">
            <div class="content">
                <div class="col-md-6">
                    <p class="inner_text">{{$root.LANG.pHomWantOrdFast1[$root.curLang]}}</p>
                    <p class="inner_text">{{$root.LANG.pHomWantOrdFast2[$root.curLang]}}</p>
                    <p class="inner_text">{{$root.LANG.pHomWantOrdFast3[$root.curLang]}}</p>
                </div>

                <div class="col-md-6">
                    <p class="inner_text">{{$root.LANG.pHomWantOrdFast4[$root.curLang]}}</p>
                    <p class="inner_text">{{$root.LANG.pHomWantOrdFast5[$root.curLang]}}</p>
                    <p class="inner_text">{{$root.LANG.pHomWantOrdFast6[$root.curLang]}}</p>
                </div>
            </div>
        </div>
    </div>

</div>