.gluing {

  .block {
    background: #e6ebf6;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.11);
    padding: 10px;

    .content {
      display: inline-block;
      background: #FFF;
      padding: 20px;
      border-radius: 10px;

      img {
        width: 100%;
      }
    }

  }
}