<!--header-->
<div class="header">
    <div>
        <div class="col-sm-3">LOGO</div>
        <div class="col-sm-6">
            <a href="#" ng-click="setLanguage('ua')">UA</a>
            <a href="#" ng-click="setLanguage('ru')">RU</a>
            SEARCH+PHONES
        </div>
        <div class="col-sm-3">BUTTON</div>
    </div>

    <!--header: main menu-->
    <div class="menu text-center">
        <div class="btn-group">
            <label class="btn btn-menu" ng-model="radioModel" uib-btn-radio="'adhence'" uncheckable>{{$root.LANG.adhence[$root.curLang]}}</label>
            <label class="btn btn-menu" ng-model="radioModel" uib-btn-radio="'textures'" uncheckable>{{$root.LANG.textures[$root.curLang]}}</label>
            <label class="btn btn-menu" ng-model="radioModel" uib-btn-radio="'services'" uncheckable>{{$root.LANG.services[$root.curLang]}}</label>
            <label class="btn btn-menu" ng-model="radioModel" uib-btn-radio="'delivery'" uncheckable>{{$root.LANG.delivery[$root.curLang]}}</label>
            <label class="btn btn-menu" ng-model="radioModel" uib-btn-radio="'contacts'" uncheckable>{{$root.LANG.contacts[$root.curLang]}}</label>
            <label class="btn btn-menu" ng-model="radioModel" uib-btn-radio="'pay'" uncheckable>{{$root.LANG.pay[$root.curLang]}}</label>
        </div>
        <!--end of header-->
    </div>
</div>


<!--body-->
<div class="body">
    <div class="content">
        <!--left-side menu-->
        <div class="col-sm-3 left-side-block">

            <div class="block-item">
                <div class="name text-center">Popular</div>
                <div>
                    <ul>
                        <li ng-repeat="item in popular track by $index">
                            <a href="#" ng-click="goToCateg(item.id, item.name)"> {{item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="categories">
                <div ng-repeat="item in categories track by $index">
                    <ul>
                        <li>
                            <a href="#" ng-click="goToCateg(item.id, item.name)"> {{item.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--viewport for both menus-->
        <div class="plates col-sm-9">
            <ui-view></ui-view>
        </div>
    </div>
</div>
<!--end of body-->

<!--footer-->
<!--end of footer-->