<!--header-->
<div class="header">
    <div>
        <div class="col-sm-3">LOGO</div>
        <div class="col-sm-6">LANG+SEARCH+PHONES</div>
        <div class="col-sm-3">BUTTON</div>
    </div>

    <!--header: main menu-->
    <div class="menu text-center">
        <div class="btn-group">
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>Left</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle1</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle2</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle3</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle4</label>
            <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'" uncheckable>Right</label>
        </div>
        <!--end of header-->
    </div>
</div>


<!--body-->
<div>
    <!--left-side menu-->
    <div class="col-sm-3 left-side-block">
        <div class="popular">
            <div ng-repeat="item in popular track by $index">
                <ul>
                    <li><a ui-sref="home.wallpapers({id: item.id})"> {{item.name }}</a></li> <!-- пробросить фильтр item.filter при клике -->
                </ul>
            </div>
        </div>

        <br>

        <div class="categories">
            <div ng-repeat="item in categories track by $index">
                <ul>
                    <li><a ui-sref="home.wallpapers({id: item.id})"> {{item.name }}</a></li> <!-- пробросить фильтр item.filter при клике -->
                </ul>
            </div>
        </div>
    </div>

    <!--viewport for both menus-->
    <div class="col-sm-9">
        <ui-view></ui-view>
    </div>
</div>
<!--end of body-->

<!--footer-->
<!--end of footer-->